rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /cars/{docId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }
    match /leads/{docId} {
      allow create: if true;
      allow read: if request.auth != null && (request.auth.uid == resource.data.connectorId || request.auth.token.admin == true);
      allow update: if request.auth != null && request.auth.token.admin == true;
    }
    match /sales/{docId} {
      allow read: if request.auth != null && request.auth.token.admin == true;
      allow create: if false;
    }
    match /payouts/{docId} {
      allow read: if request.auth != null && (request.auth.uid == resource.data.connectorId || request.auth.token.admin == true);
      allow create: if false;
    }
  }
}
